{% extends "base.html" %}

{% block content %}
  {% if buzz %}
  <div id="buzz">
    {% for post in buzz %}
      {% if post.annotation %}
        <div class="original">
      {% else %}
        <div class="reshared">
      {% endif %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <h3 class="published">{{ post.published }}</h3>
      {% if post.updated %}
        <h3 class="updated">{{ post.updated }}</h3>
      {% endif %}
      {% if post.annotation %}
        {{ post.annotation }}
      {% endif %}
      {{ post.content }}
      <p class="replies"><a href="{{ post.url }}">
        {% if post.replies == 0 %}
          No replies
        {% elif post.replies == 1 %}
          1 reply
        {% else %}
          {{ post.replies }} replies
        {% endif %}
      </a></p>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <p>No public buzz found on Google+ for the account configured.</p>
  {% endif %}
{% endblock content %}
